@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.profile-info {
    flex: 1;
    max-width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.farms-info {
    flex: 1;
    max-width: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 1px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editBtn{
    background-color: #4e4caf;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: #040604;
}

#farms{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#farms > p {
    border: 1px solid rgb(236, 235, 235);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-info, .farms-info {
        max-width: 100%;
    }
}
