<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preload" href="./images/pexels-francesco-ungaro-20769136.jpg" as="image">
    <link rel="preload" href="./images/wheat-2391348.jpg" as="image">
    <link rel="preload" href="./images/pexels-quang-nguyen-vinh-222549-2165688.jpg" as="image">
    <link rel="preload" href="./images/pexels-wolfgang-weiser-467045605-22679655.jpg" as="image">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Background Carousel</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style>
        .carousel-item {
            height: 100vh;
            background: no-repeat center center;
            background-size: cover;
            max-width: 100%;
            width: 100vw;
            height: 100vh;
        }

        .carousel {
            position: absolute;
            height: 100vh;
            z-index: -1;
            top: 0%;
            left: 0%;
            width: 100vw;
        }

        .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    </style>
</head>

<body>


    <!----------------------- Main Container -------------------------->
    <div class="sen-container">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <!----------------------- Login Container -------------------------->

            <div class="row border rounded-5 p-3 bg-white shadow box-area">

                <!--------------------------- Left Box ----------------------------->
                <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                    style="background: #103cbe; position: relative; overflow: hidden;">


                    <!-- Background image in the container -->
                    <div class="featured-image" style="
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   background-image: url('images/image 9.jpg');
                   background-size: cover;
                   background-position: center;
                   filter: brightness(0.7); /* Optional: darken for text readability */
               "></div>

                    <!-- Text on top of the image -->
                    <p class="text-white fs-2" style="
                   font-family: 'Courier New', Courier, monospace;
                   font-weight: 600;
                   z-index: 1; /* Ensure text is above the image */
               ">
                        The future grows in fields
                    </p>

                    <small class="text-white text-wrap text-center" style="
                   width: 17rem;
                   font-family: 'Courier New', Courier, monospace;
                   z-index: 1;
               ">Nurturing the Earth, Feeding the World</small>

                </div>

                <!-------------------- ------ Right Box ---------------------------->

                <div class="col-md-6 right-box">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <h2>Hello,Again</h2>
                            <p>We are happy to have you back.</p>
                        </div>
                        <div class="input-group mb-3 input-wrapper ">
                            <input type="text" class="form-control form-control bg-light "
                                placeholder="Email address" />
                        </div>
                        <div class="input-group mb-1 input-wrapper field2">
                            <input type="password" class="form-control form-control bg-light  "
                                placeholder="Password" />
                        </div>
                        <div class="input-group mb-5 d-flex justify-content-between">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="formCheck" />
                                <label for="formCheck" class="form-check-label text-secondary"><small>Remember
                                        Me</small></label>
                            </div>
                            <div class="forgot">
                                <small><a href="forgot_password.html">Forgot Password?</a></small>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6">
                                Login
                            </button>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-light w-100 fs-6">
                                <div id="g_id_onload"
                                    data-client_id="413959471806-jrdvsnd6smemb3b3ml3o5g4kqsadtk1d.apps.googleusercontent.com"
                                    scope="profile email" data-context="signin" data-ux_mode="popup"
                                    data-callback="handleCredentialResponse">
                                </div>
                                <div class="g_id_signin" data-type="standard"></div>

                                <script>
                                    function handleCredentialResponse(response) {
                                        console.log("Encoded JWT ID token: " + response.credential);
                                        // Additional processing, e.g., send to your server
                                    }
                                </script>
                            </button>
                        </div>
                        <div class="row">
                            <small>Don't have account? <a href="signup.html">Sign Up</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselBackground" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="
                background-image: url('./images/pexels-francesco-ungaro-20769136.jpg');
              "></div>
            <div class="carousel-item" style="
                background-image: url('./images/wheat-2391348.jpg');
              "></div>
            <div class="carousel-item" style="
                background-image: url('./images/pexels-quang-nguyen-vinh-222549-2165688.jpg');
              "></div>
            <div class="carousel-item" style="
                  background-image: url('./images/pexels-wolfgang-weiser-467045605-22679655.jpg');
                "></div>
        </div>
    </div>
    </div>
    <div id="g_id_onload" data-client_id="413959471806-jrdvsnd6smemb3b3ml3o5g4kqsadtk1d.apps.googleusercontent.com"
        scope="profile email" data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse">
    </div>
    <!-- <div class="g_id_signin" data-type="standard"></div> -->

    <script>
        function handleCredentialResponse(response) {
            console.log("Encoded JWT ID token: " + response.credential);
            // Additional processing, e.g., send to your server
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
</body>

</html>